<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Video Game Reviews</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <nav id="nav-bar">
        <a href="/games" <%- title = 'All Games' ? 'class="active"' : '' %>>ALL GAMES </a>  
        <div>|</div>
        
        <% if (user) { %>
          <a href="/games/new" <%- title = 'Add Game' ? 'class="active"' : '' %>>ADD GAME </a>
          <div>|</div>
          <a href="/logout">LOG OUT </a>
        <% } else { %>
          <div>|</div>
          <a href="/auth/google" class="login">LOG IN <img src="https://i.imgur.com/FHjYyi0.png"></a>
        
          <% } %>
      </nav>
    