* {
  box-sizing: border-box;
  font-family: Helvetica;
}

/* body {
  color: red;
  background-color: gold;
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 40px 1fr;
  grid-template-areas: 
    "nav"
    "main"
} */

#nav-bar {
  color: red;
  grid-area: nav;
  background-color: yellow;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}
body > nav > div {
  margin:auto 5px;
}
#nav-bar > a {
  color: red;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}