<%- include('../partials/header') %>

<form id="new-form" action="/games" method="POST">
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default"
      >Add Title</span
    >
    <input
      name="title"
      type="text"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default"
      >Add Release Date</span
    >
    <input
      name="releaseDate"
      type="text"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="inputGroup-sizing-default"
      >Add Company</span
    >
    <input
      name="company"
      type="text"
      class="form-control"
      aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default"
    />
  </div>
  <input type="submit" value="Add Game" />
</form>

<%- include('../partials/footer') %>
